@model IEnumerable<SisBooking.Models.Sede>
@{
    ViewData["Title"] = "Sedes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h1>Sedes Recreativas y Apartamentos</h1>
    <hr/>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descripcion)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Tipo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Ubicacion)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ubicacion)
                            </td>
                            <td>
                                <a asp-action="Agendar" asp-route-id="@item.Id">Agendar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

</div>
